{% extends 'base.html' %}
{% block content %}
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">WTD</span>
    </h1>
</header>
{% include 'navbar.html' %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-6 col-lg-8">
        <h1>2019 <span>vs</span> 2022년</h1>
        <h1>천만 영화 흥행 요인 분석</h1>
        <h2>기생충(2019)과 범죄도시2(2022)</h2>
    </div>
    </div>
</div>
</section><!-- End Hero -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
<div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Team</h2>
        <p>Our Team Members</p>
    </div>

    <div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
                <img src="" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>김태현</h4>
                <li>웹 크롤링</li>
                <li>데이터 전처리</li>
                <li>데이터 분석</li>
                <li>데이터 시각화</li>
                <li>PPT 제작</li>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
                <img src="" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>방승현 (팀장)</h4>
                <li>웹 크롤링</li>
                <li>데이터 전처리</li>
                <li>데이터 분석</li>
                <li>데이터 시각화</li>
                <li>웹페이지 구축</li>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
            <img src="" class="img-fluid" alt="">
        </div>
        <div class="member-info">
            <h4>이승호</h4>
            <li>PPT 제작</li>
            <li>PPT 발표</li>
        </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
            <img src="" class="img-fluid" alt="">
        </div>
        <div class="member-info">
            <h4>허다정</h4>
            <li>웹 크롤링</li>
            <li>데이터 전처리</li>
            <li>데이터 분석</li>
            <li>데이터 시각화</li>
            <li>웹페이지 구축</li>
        </div>
        </div>
    </div>

    </div>
</div>
</section><!-- End Team Section -->
{% endblock %}