{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">WTD</span>
    </h1>
</header>
{% include 'navbar.html' %}
    <!-- Main -->
    <main class="main-video" id="main-video">
        <div class="video">
            <video src="{% static 'assets/video/parasite.mp4' %}" autoplay muted loop></video>
        </div>
        <div class="description">
            <h1>기생충</h1>
            <h3>PARASITE</h3>
            <p>
                전원백수로 살 길 막막하지만 사이는 좋은 기택(송강호) 가족. 
                장남 기우(최우식)에게 명문대생 친구가 연결시켜 준 고액 과외 자리는 모처럼 싹튼 고정수입의 희망이다. 
                온 가족의 도움과 기대 속에 박사장(이선균) 집으로 향하는 기우. 
                글로벌 IT기업 CEO인 박사장의 저택에 도착하자 젊고 아름다운 사모님 연교(조여정)가 기우를 맞이한다. 
                그러나 이렇게 시작된 두 가족의 만남 뒤로, 걷잡을 수 없는 사건이 기다리고 있었으니…
            </p>
            <div class="buttons">
                <button class="play"><i class="fa-solid fa-play"></i><span>재생</span></button>
                <button class="detail"><a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=161967"><i class="fa-solid fa-circle-info"></i>상세 정보</a></button>
            </div>
        </div>
        <div class="age-info">
            <i class="fa-solid fa-rotate-right"></i>
            <div class="age">15+</div>
        </div>
    </main>

    <!-- Video -->
    <section class="section-video">
        <div class="video">
            <video src="{% static 'assets/video/theroundup.mp4' %}" autoplay muted loop></video>
        </div>
        <div class="description">
            <h1>범죄도시2</h1>
            <h3>THEROUNDUP</h3>
            <p>
                가리봉동 소탕작전 후 4년 뒤, 금천서 강력반은 베트남으로 도주한 용의자를 인도받아 오라는 미션을 받는다.
                괴물형사 ‘마석도’(마동석)와 ‘전일만’(최귀화) 반장은 현지 용의자에게서 수상함을 느끼고,
                그의 뒤에 무자비한 악행을 벌이는 ‘강해상’(손석구)이 있음을 알게 된다.
                ‘마석도’와 금천서 강력반은 한국과 베트남을 오가며 역대급 범죄를 저지르는
                ‘강해상’을 본격적으로 쫓기 시작하는데...
                나쁜 놈들 잡는 데 국경 없다!
                통쾌하고 화끈한 범죄 소탕 작전이 다시 펼쳐진다!
            </p>
            <div class="buttons col">
                <button class="play"><i class="fa-solid fa-play"></i><span>재생</span></button>
                <button class="detail"><a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=192608"><i class="fa-solid fa-circle-info"></i>상세 정보</a></button>
            </div>
        </div>
        <div class="age-info">
            <i class="fa-solid fa-rotate-right"></i>
            <div class="age">15+</div>
        </div>
    </section>
{% endblock %}