{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% include 'navbar.html' %}
{% load static %}
<div class="blog-wrapper section-padding-100">
<div class="row mt-5">
    <div class="col-12 text-center">
      <h1><strong>Step2. 워드 클라우드</strong></h1>
        {{ post.content }}
    </div>
  </div>
    <br>
    <br>
    <br>
<div id="wrapper">
    <div id="main">
            <article class="post">
                <header>
                    <div class="title text-center">
                        <h3><strong>네이버 관객</strong></h3>
                    </div>
                </header>
                <img src="{% static 'assets/img/네이버관객워드클라우드(1).jpeg' %}" alt=""><br>
              <img src="{% static 'assets/img/네이버관객워드클라우드(2).jpeg' %}" alt=""><br>
              <img src="{% static 'assets/img/네이버관객워드클라우드(3).jpeg' %}" alt=""><br>
              <img src="{% static 'assets/img/네이버관객워드클라우드(4).jpeg' %}" alt=""><br>
            </article>
        <br>
            <article class="post">
                <header>
                    <div class="title text-center">
                        <h3><strong>다음 관객</strong></h3>
                    </div>
                </header>
                <img src="{% static 'assets/img/범죄도시다음워드클라우드.jpeg' %}" alt=""><br>
            </article>
        <br>
            <article class="post">
                <header>
                    <div class="title text-center">
                        <h3><strong>IMDB 관객</strong></h3>
                    </div>
                </header>
                <img src="{% static 'assets/img/imdb기생충워드클라우드.jpeg' %}" alt=""><br>
              <img src="{% static 'assets/img/imdb기생충워드클라우드(2).jpeg' %}" alt="">
            </article>
        <br>
            <article class="post">
                <header>
                    <div class="title text-center">
                        <h3><strong>로튼토마토 관객 & 평론가</strong></h3>
                    </div>
                </header>
                <img src="{% static 'assets/img/로튼토마토관객워드클라우드.jpg' %}" alt=""><br>
              <img src="{% static 'assets/img/로튼토마토관객워드클라우드(2).jpg' %}" alt="">
            </article>
</div>
</div>
    <a href="{% url 'progress:progress_list' %}"><button class = "btn btn-primary">목록으로</button></a>
</div>

{% endblock %}